<?php

return array(
    
  // DB
  'dbhost' => '',
  'dbschema' => 'bento',
  'dbusername' => '',
  'dbpassword' => '',
    
  // Secret key: $ php artisan key:generate
  'appkey' => 'some32bitThing000000000000000000',

  // Stripe
  'Stripe_sk_test' => 'sk_test_key', // Test secret key

  // Mailgun
  'Mailgun_secret_api' => 'key-...',

  // Facebook
  'FB_app_id' => 'our-id',
  'FB_app_secret' => 'our-secret',
    
);

