<?php

return array(
    
  // DB
  'dbhost' => '',
  'dbschema' => 'bento',
  'dbusername' => '',
  'dbpassword' => '',
    
  // Secret key: $ php artisan key:generate
  'appkey' => 'some32bitThing000000000000000000',

  // Stripe
  'Stripe_secret_key' => 'sk_test_key', // Test or live secret key

  // Mailgun
  'Mailgun_secret_api' => 'key-...',

  // Facebook
  'FB_app_id' => 'our-id',
  'FB_app_secret' => 'our-secret',

  // Trak
  'Trak_API' => 'https://onfleet.com/api/v2',
  'Trak_key' => '',
  'Trak_organization' => '',

  // Mail
  'Mail_EngAlert' => 'engalert_test@bentonow.com',

  // AWS SQS
  'sqs-orders-key' => 'some_key',
  'sqs-orders-secret' => 'some_secret',
  'sqs-orders-url' => 'https://sqs.us-west-2.amazonaws.com/457902237154/bento-testing-orders',
  
  ###
  
  ### Testing only below ###

  // https://developers.facebook.com/tools/accesstoken/
  'FB_valid_token' => '',

  // https://stripe.com/docs/api/php#token_object
  'Stripe_card_token' => 'tok_...',
  
);

