

body {
    
}


#sidebar {
    background-color:#f8f8f8;
}


.admin-jsonTextarea {
    min-height: 200px !important;
}

.admin-jsonForm {
    margin-left: 20px;
}


/********************
Bootstrap Overrides 
********************/
@media (min-width: 1200px) {
  .container {
    width: 1370px;
  }
}

.form-horizontal .form-group {
    margin-left: 0;
}


/********************
Everything Else
********************/

cap {
    text-transform: capitalize;
}

.f_slim-input {
    width: 45px;
}

.f-checkbox {
    width: 20px;
    height:20px;
}

input.nospin::-webkit-outer-spin-button,
input.nospin::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.status-bar {
    padding: 10px;
    font-weight: bold;
}

hr.hr-bento {
    border-top: 1px solid #B1BB40;
}

.label-light {
    font-weight:normal !important; 
    font-style:italic;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-header {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-info {
    border-left-color: #1b809e;
}

.bs-callout-danger {
    border-left-color: #ce4844;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}