

body {
    
}


#sidebar {
    background-color:#f8f8f8;
}


.admin-jsonTextarea {
    min-height: 200px !important;
}

.admin-jsonForm {
    margin-left: 20px;
}


/********************
Bootstrap Overrides 
********************/
@media (min-width: 1200px) {
  .container {
    width: 1370px;
  }
}


/********************
Everything Else
********************/
.f_slim-input {
    width: 28px;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}